body {
    background-color: black;
    font-family: 'Dosis', sans-serif;
}

.bg-black {
    background-color: black !important;
}

nav > a:first-child {
    color: white !important;
    letter-spacing: 1px;
}

nav > button {
    color: white !important;
    background-color: red;
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

#chart-img {
    height: 130px;
}

#chart-title {
    font-size: .8em;
    text-align: left;
}

#chart-description {
    font-size: .7em;
    letter-spacing: 1px;
}

#chart-updated {
    font-size: .65em;
    letter-spacing: 1px;
}

.chart-entry {
    height: 88px;
    padding: 0;
    background-color: #161616 !important;
}

.chart-position {
    font-size: 1.5em;
}

.chart-title {
    font-size: .9em;
}

.chart-artist {
    font-size: .8em;
}

.chart-img {
    height: 88px;
}

.chart-img > img {
    object-fit: cover;
}

h4 {
    font-size: 1em;
    text-align: center;
}

.chart-card > img {
    object-fit: contain;
}

@media screen and (max-width: 320px) {
    .chart-card {
        height: 180px;
    }

    .chart-card > img {
        height: 133px;
        width: 133px;
    }

    .chart-card > h5 {
        font-family: 'Dosis', sans-serif;
        height: 47px;
        font-size: 1em;
        padding: 5px;
        font-weight: 600;
    }
}

@media screen and (min-width: 321px) and (max-width: 575px) {
    h4 {
        font-size: 1em;
        text-align: center;
    }

    .chart-card {
        height: 205px;
    }

    .chart-card > img {
        height: 158px;
        object-fit: cover;
    }

    .chart-card > h5 {
        font-family: 'Dosis', sans-serif;
        height: 47px;
        font-size: 1em;
        padding: 5px;
        font-weight: 600;
    }

    #chart-details {
        height: 180px;
    }

    .chart-img > img {
        object-fit: cover !important;
        height: 88px !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    h1 {
        font-size: 2em;
    }

    #chart-details {
        height: 300px;
    }

    .chart-card {
        height: 313px;
    }

    .chart-card > h5 {
        font-family: 'Dosis', sans-serif;
        height: 40px;
        font-size: 1.2em;
        padding: 5px 10px;
        font-weight: 600;
        text-align: center;
    }

    .chart-entry {
        height: 100px;
        margin-top: 0 !important;
        margin-bottom: 10px !important;
    }

    .chart-img {
        height: 88px !important;
        width: 88px !important;
    }

    .chart-img > img {
        height: 88px !important;
        width: 88px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    h1 {
        font-size: 2.4em;
    }

    .chart-card > h5 {
        font-family: 'Dosis', sans-serif;
        height: 47px;
        font-size: 1.2em;
        padding: 10px;
        font-weight: 600;
    }

    article.chart-card > h5 {
        text-align: center;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    h1 {
        font-size: 2.8em;
    }

    .chart-card {
        height: 301px;
        width: 301px;
    }

    .chart-card > h5 {
        font-family: 'Dosis', sans-serif;
        height: 47px;
        font-size: 1em;
        padding: 10px;
        font-weight: 600;
    }
}

@media screen and (min-width: 1200px){
    header {
        width: 1024px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    main {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 2.8em;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .chart-card {
        height: 301px;
        width: 301px;
    }

    .chart-card > h5 {
        font-family: 'Dosis', sans-serif;
        height: 47px;
        font-size: 1em;
        padding: 10px 5px;
        font-weight: 600;
        text-align: center;
    }

    main > div:nth-child(3) {
        margin-top: 100px!important;
    }
}